In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
df=pd.read_csv(r"C:\Users\Hritik\Desktop\iris_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.3+ KB

In [3]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
x=df.iloc[:,0:-1]
x.head()

   sepal.length  sepal.width  petal.length  petal.width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
y=df.iloc[:,4]
y.head()

0    Setosa
1    Setosa
2    Setosa
3    Setosa
4    Setosa
Name: variety, dtype: object

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [22]:
x_train

     sepal.length  sepal.width  petal.length  petal.width
91            6.1          3.0           4.6          1.4
135           7.7          3.0           6.1          2.3
69            5.6          2.5           3.9          1.1
128           6.4          2.8           5.6          2.1
114           5.8          2.8           5.1          2.4
..            ...          ...           ...          ...
133           6.3          2.8           5.1          1.5
137           6.4          3.1           5.5          1.8
72            6.3          2.5           4.9          1.5
140           6.7          3.1           5.6          2.4
37            4.9          3.6           1.4          0.1

[120 rows x 4 columns]

In [14]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 14 to 146
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  30 non-null     float64
 1   sepal.width   30 non-null     float64
 2   petal.length  30 non-null     float64
 3   petal.width   30 non-null     float64
dtypes: float64(4)
memory usage: 1.2 KB

In [15]:
from sklearn.preprocessing import StandardScaler

In [19]:
scalar=StandardScaler()

In [20]:
scalar.fit(x_train)

StandardScaler()

In [21]:
x_train

     sepal.length  sepal.width  petal.length  petal.width
91            6.1          3.0           4.6          1.4
135           7.7          3.0           6.1          2.3
69            5.6          2.5           3.9          1.1
128           6.4          2.8           5.6          2.1
114           5.8          2.8           5.1          2.4
..            ...          ...           ...          ...
133           6.3          2.8           5.1          1.5
137           6.4          3.1           5.5          1.8
72            6.3          2.5           4.9          1.5
140           6.7          3.1           5.6          2.4
37            4.9          3.6           1.4          0.1

[120 rows x 4 columns]

In [26]:
x_train=scalar.transform(x_train)

In [27]:
x_test=scalar.transform(x_test)

In [30]:
x_train

array([[-15.07114024, -24.70518304,  -3.23876315,  -3.22345356],
       [-12.26555107, -24.70518304,  -2.9658029 ,  -1.27829279],
       [-15.94788686, -31.52243688,  -3.3661446 ,  -3.87184049],
       [-14.54509227, -27.43208457,  -3.05678965,  -1.71055074],
       [-15.59718822, -27.43208457,  -3.1477764 ,  -1.06216381],
       [-16.47393483, -15.16102766,  -3.80288099,  -5.81700126],
       [-16.12323619, -34.24933841,  -3.34794725,  -3.43958254],
       [-16.64928416, -19.25137997,  -3.82107834,  -5.81700126],
       [-14.36974295, -27.43208457,  -3.23876315,  -3.00732459],
       [-14.0190443 , -31.52243688,  -3.02039495,  -2.35893766],
       [-13.84369498, -24.70518304,  -3.074987  ,  -1.71055074],
       [-16.82463348, -17.8879292 ,  -3.82107834,  -5.60087228],
       [-15.24648957, -35.61278918,  -3.16597375,  -3.00732459],
       [-14.7204416 , -26.06863381,  -3.05678965,  -2.35893766],
       [-14.19439363, -26.06863381,  -3.23876315,  -3.43958254],
       [-12.26555107, -30.15898611,  -2.82022411,  -1.27829279],
       [-15.77253754, -13.7975769 ,  -3.76648629,  -5.60087228],
       [-16.9999828 , -16.52447843,  -3.82107834,  -5.81700126],
       [-17.35068145, -24.70518304,  -3.82107834,  -5.60087228],
       [-16.64928416, -28.79553534,  -3.3661446 ,  -3.22345356],
       [-16.82463348, -19.25137997,  -3.80288099,  -5.81700126],
       [-16.12323619, -17.8879292 ,  -3.83927569,  -5.81700126],
       [-12.26555107, -13.7975769 ,  -2.85661881,  -1.49442176],
       [-13.66834566, -23.34173227,  -3.09318435,  -1.71055074],
       [-12.96694836, -26.06863381,  -2.9294082 ,  -2.35893766],
       [-14.54509227, -27.43208457,  -3.05678965,  -1.49442176],
       [-14.89579092, -27.43208457,  -3.20236845,  -2.35893766],
       [-15.24648957, -19.25137997,  -3.2569605 ,  -2.79119561],
       [-12.26555107, -27.43208457,  -2.85661881,  -1.92667971],
       [-15.77253754, -24.70518304,  -3.31155255,  -3.65571151],
       [-17.35068145, -19.25137997,  -3.78468364,  -5.81700126],
       [-15.77253754, -31.52243688,  -3.16597375,  -1.92667971],
       [-14.7204416 , -28.79553534,  -3.1841711 ,  -2.35893766],
       [-17.35068145, -24.70518304,  -3.82107834,  -6.03313023],
       [-17.52603077, -21.9782815 ,  -3.83927569,  -5.81700126],
       [-14.36974295, -24.70518304,  -3.02039495,  -1.49442176],
       [-17.7013801 , -19.25137997,  -3.82107834,  -5.60087228],
       [-15.07114024, -24.70518304,  -3.1841711 ,  -2.35893766],
       [-14.36974295, -21.9782815 ,  -3.1477764 ,  -1.92667971],
       [-14.0190443 , -23.34173227,  -3.27515785,  -3.22345356],
       [-15.77253754, -27.43208457,  -3.2569605 ,  -3.43958254],
       [-14.0190443 , -20.61483073,  -3.0385923 ,  -0.84603484],
       [-15.24648957, -24.70518304,  -3.20236845,  -2.35893766],
       [-16.82463348, -13.7975769 ,  -3.78468364,  -5.81700126],
       [-15.24648957, -35.61278918,  -3.34794725,  -4.08796946],
       [-14.54509227, -26.06863381,  -3.2933552 ,  -3.43958254],
       [-14.36974295, -24.70518304,  -3.074987  ,  -2.35893766],
       [-16.9999828 , -34.24933841,  -3.4753287 ,  -4.08796946],
       [-14.7204416 , -20.61483073,  -2.98400025,  -0.84603484],
       [-16.12323619, -31.52243688,  -3.34794725,  -3.43958254],
       [-16.29858551, -15.16102766,  -3.80288099,  -5.81700126],
       [-17.17533213, -23.34173227,  -3.80288099,  -5.81700126],
       [-16.64928416,  -9.70722459,  -3.80288099,  -6.03313023],
       [-14.0190443 , -20.61483073,  -3.0385923 ,  -1.71055074],
       [-18.05207874, -24.70518304,  -3.83927569,  -5.81700126],
       [-15.24648957, -28.79553534,  -3.1477764 ,  -2.79119561],
       [-14.54509227, -28.79553534,  -3.1113817 ,  -2.14280869],
       [-15.42183889, -24.70518304,  -3.1477764 ,  -2.35893766],
       [-16.64928416, -17.8879292 ,  -3.80288099,  -5.81700126],
       [-16.82463348, -20.61483073,  -3.76648629,  -5.16861433],
       [-15.59718822, -28.79553534,  -3.3297499 ,  -4.08796946],
       [-17.17533213, -23.34173227,  -3.80288099,  -6.03313023],
       [-12.79159904, -27.43208457,  -2.9658029 ,  -2.14280869],
       [-14.89579092, -26.06863381,  -3.2933552 ,  -3.43958254],
       [-12.44090039, -24.70518304,  -2.87481616,  -1.71055074],
       [-14.0190443 , -24.70518304,  -3.12957905,  -1.27829279],
       [-14.7204416 , -34.24933841,  -3.27515785,  -3.43958254],
       [-14.89579092, -19.25137997,  -3.09318435,  -1.27829279],
       [-13.14229769, -16.52447843,  -2.9658029 ,  -0.84603484],
       [-15.94788686, -26.06863381,  -3.42073665,  -3.43958254],
       [-15.77253754,  -5.61687229,  -3.80288099,  -5.38474331],
       [-15.59718822, -28.79553534,  -3.3661446 ,  -3.65571151],
       [-17.87672942, -34.24933841,  -3.83927569,  -5.60087228],
       [-16.12323619, -32.88588765,  -3.38434195,  -3.87184049],
       [-13.66834566, -23.34173227,  -3.1841711 ,  -3.00732459],
       [-16.9999828 , -19.25137997,  -3.78468364,  -5.38474331],
       [-13.84369498, -27.43208457,  -3.20236845,  -3.22345356],
       [-16.9999828 , -17.8879292 ,  -3.78468364,  -4.95248536],
       [-17.35068145, -19.25137997,  -3.73009159,  -5.81700126],
       [-14.7204416 , -19.25137997,  -3.05678965,  -1.06216381],
       [-15.94788686, -27.43208457,  -3.1841711 ,  -1.92667971],
       [-13.84369498, -21.9782815 ,  -3.0021976 ,  -1.27829279],
       [-16.9999828 , -20.61483073,  -3.82107834,  -5.81700126],
       [-16.82463348, -15.16102766,  -3.80288099,  -5.38474331],
       [-15.42183889, -21.9782815 ,  -3.20236845,  -2.35893766],
       [-17.7013801 , -23.34173227,  -3.80288099,  -5.81700126],
       [-15.59718822, -28.79553534,  -3.1477764 ,  -2.14280869],
       [-17.35068145, -23.34173227,  -3.78468364,  -5.81700126],
       [-14.36974295, -24.70518304,  -3.12957905,  -1.92667971],
       [-17.17533213, -31.52243688,  -3.2569605 ,  -2.57506664],
       [-17.7013801 , -21.9782815 ,  -3.82107834,  -5.81700126],
       [-14.54509227, -21.9782815 ,  -3.1113817 ,  -1.27829279],
       [-18.22742807, -24.70518304,  -3.87567039,  -6.03313023],
       [-15.94788686, -24.70518304,  -3.3297499 ,  -3.43958254],
       [-18.05207874, -26.06863381,  -3.82107834,  -5.81700126],
       [-16.12323619, -32.88588765,  -3.4025393 ,  -4.08796946],
       [-16.9999828 , -38.33969072,  -3.438934  ,  -4.08796946],
       [-16.82463348, -17.8879292 ,  -3.82107834,  -5.81700126],
       [-17.17533213, -24.70518304,  -3.82107834,  -5.81700126],
       [-17.17533213, -32.88588765,  -3.4753287 ,  -4.08796946],
       [-17.7013801 , -16.52447843,  -3.89386774,  -5.81700126],
       [-15.42183889, -24.70518304,  -3.31155255,  -3.00732459],
       [-15.07114024, -26.06863381,  -3.2205658 ,  -3.22345356],
       [-16.9999828 , -19.25137997,  -3.80288099,  -5.81700126],
       [-14.0190443 , -23.34173227,  -3.2205658 ,  -3.00732459],
       [-15.77253754, -26.06863381,  -3.31155255,  -3.43958254],
       [-14.89579092, -35.61278918,  -3.2569605 ,  -3.00732459],
       [-13.49299633, -21.9782815 ,  -3.2205658 ,  -3.22345356],
       [-15.59718822, -28.79553534,  -3.1477764 ,  -2.14280869],
       [-16.29858551, -19.25137997,  -3.76648629,  -5.81700126],
       [-16.9999828 , -24.70518304,  -3.78468364,  -5.81700126],
       [-15.07114024, -30.15898611,  -3.05678965,  -3.22345356],
       [-15.07114024, -27.43208457,  -3.34794725,  -3.43958254],
       [-13.14229769, -24.70518304,  -3.02039495,  -2.79119561],
       [-15.77253754, -30.15898611,  -3.438934  ,  -4.08796946],
       [-14.7204416 , -27.43208457,  -3.1477764 ,  -3.00732459],
       [-14.54509227, -23.34173227,  -3.074987  ,  -2.35893766],
       [-14.7204416 , -31.52243688,  -3.1841711 ,  -3.00732459],
       [-14.0190443 , -23.34173227,  -3.05678965,  -1.06216381],
       [-17.17533213, -16.52447843,  -3.82107834,  -6.03313023]])

In [32]:
from sklearn.neighbors import KNeighborsClassifier
classifier=KNeighborsClassifier(n_neighbors=5)
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [33]:
yp=classifier.predict(x_test)

In [35]:
from sklearn import metrics
print(metrics.confusion_matrix(y_test,yp))

[[11  0  0]
 [13  0  0]
 [ 6  0  0]]

In [36]:
print(metrics.classification_report(y_test,yp))

              precision    recall  f1-score   support

      Setosa       0.37      1.00      0.54        11
  Versicolor       0.00      0.00      0.00        13
   Virginica       0.00      0.00      0.00         6

    accuracy                           0.37        30
   macro avg       0.12      0.33      0.18        30
weighted avg       0.13      0.37      0.20        30

C:\Users\Hritik\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))