In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn import linear_model

In [4]:
df=pd.read_csv(r"C:\Users\Hritik\Desktop\multiple_regression.csv")
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  680000
4  4000      5.0    8  725000

In [5]:
df.isnull().sum()

area       0
bedroom    1
age        0
price      0
dtype: int64

In [18]:
k=df['bedroom'].median()
print(k)
print(type(k))
k=int(k)
df['bedroom'].fillna(k,inplace=True)
print(df)

3.0
<class 'float'>
   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  680000
4  4000      5.0    8  725000

In [23]:
#x=df[['area','bedroom','age']]
#y=df['price']

In [19]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedroom','age']],df['price'])

LinearRegression()

In [24]:
m=reg.coef_
c=reg.intercept_
print(m)
print(c)

[  143.625 -6762.5     337.5  ]
173112.50000000012

In [26]:
yp=reg.predict(df[['area','bedroom','age']])

In [27]:
yp

array([533000., 582000., 618500., 680000., 716500.])

In [28]:
metrics.r2_score(yp,df['price'])

0.9667777905506381

In [29]:
reg.predict([[2500,3,5]])

array([513575.])