In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv(r"C:\Users\Hritik\Desktop\naive_data.csv")

In [7]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [8]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [9]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [11]:
x=df.iloc[:,:-1]
x

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [15]:
y=df.iloc[:,4]   #y=df.iloc[:,-1]
y

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: object

In [16]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=101)

In [24]:
from sklearn.naive_bayes import GaussianNB

In [25]:
cf=GaussianNB()

In [26]:
cf.fit(x_train,y_train)

GaussianNB()

In [31]:
x_train

     sepal.length  sepal.width  petal.length  petal.width
74            6.4          2.9           4.3          1.3
88            5.6          3.0           4.1          1.3
96            5.7          2.9           4.2          1.3
42            4.4          3.2           1.3          0.2
134           6.1          2.6           5.6          1.4
..            ...          ...           ...          ...
63            6.1          2.9           4.7          1.4
70            5.9          3.2           4.8          1.8
81            5.5          2.4           3.7          1.0
11            4.8          3.4           1.6          0.2
95            5.7          3.0           4.2          1.2

[135 rows x 4 columns]

In [27]:
cf.score(x_test,y_test)

1.0

In [30]:
yprd=cf.predict(x_test)
yprd

array(['Setosa', 'Setosa', 'Setosa', 'Virginica', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Setosa', 'Virginica', 'Virginica'],
      dtype='<U10')

In [34]:
from sklearn import metrics

In [38]:
metrics.accuracy_score(y_test,yprd)*100 #*100

100.0