In [11]:
import pandas as pd
df= pd.read_csv(r'C:\Users\Hritik\Desktop\Nulll.csv')
df.info()
print(df.shape) #{row,column}
print(df.size) #size of all data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               28 non-null     object
 1    "Team"            28 non-null     object
 2    "Position"        28 non-null     object
 3    "Height(inches)"  28 non-null     int64
 4    "Weight(lbs)"     28 non-null     int64
 5    "Age"             24 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1.0+ KB
(28, 6)
168

In [12]:
#to check null value in the csv file than
print(df.isnull().sum())

Name                 0
 "Team"              0
 "Position"          0
 "Height(inches)"    0
 "Weight(lbs)"       0
 "Age"               4
dtype: int64

In [13]:
#to delete the null value row than
df.dropna(inplace=True) #inplace will save in file

#check know isnull
print(df.isnull().sum()) #no null value

Name                 0
 "Team"              0
 "Position"          0
 "Height(inches)"    0
 "Weight(lbs)"       0
 "Age"               0
dtype: int64

In [14]:
#know duplicay
df.duplicated().sum()

1

In [18]:
df.drop_duplicates(keep='first',inplace=True)
print(df.duplicated().sum())

0

In [24]:
#after removing null and duplicate items
print(df.info())
print(df.shape,df.size)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 26
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               23 non-null     object
 1    "Team"            23 non-null     object
 2    "Position"        23 non-null     object
 3    "Height(inches)"  23 non-null     int64
 4    "Weight(lbs)"     23 non-null     int64
 5    "Age"             23 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1012.0+ bytes
None
(23, 6) 138

In [21]:
#to print the specific coloumn
print(df['Name'])

0        Adam Donachie
1            Paul Bako
2      Ramon Hernandez
3         Kevin Millar
5        Brian Roberts
6        Miguel Tejada
7          Melvin Mora
8          Aubrey Huff
10     Jeff Fiorentino
11       Freddie Bynum
12       Nick Markakis
13       Brandon Fahey
14     Corey Patterson
15          Jay Payton
17         Erik Bedard
18         Hayden Penn
19         Adam Loewen
20      Daniel Cabrera
21      Steve Trachsel
22        Jaret Wright
24    Scott Williamson
25        John Parrish
26          Danys Baez
Name: Name, dtype: object

In [22]:
df[['Name',' "Age"',' "Position"']]

                Name   "Age"           "Position"
0      Adam Donachie   22.99            "Catcher"
1          Paul Bako   34.69            "Catcher"
2    Ramon Hernandez   30.78            "Catcher"
3       Kevin Millar   35.43      "First Baseman"
5      Brian Roberts   29.39     "Second Baseman"
6      Miguel Tejada   30.77          "Shortstop"
7        Melvin Mora   35.07      "Third Baseman"
8        Aubrey Huff   30.19      "Third Baseman"
10   Jeff Fiorentino   23.88         "Outfielder"
11     Freddie Bynum   26.96         "Outfielder"
12     Nick Markakis   23.29         "Outfielder"
13     Brandon Fahey   26.11         "Outfielder"
14   Corey Patterson   27.55         "Outfielder"
15        Jay Payton   34.27         "Outfielder"
17       Erik Bedard   27.99   "Starting Pitcher"
18       Hayden Penn   22.38   "Starting Pitcher"
19       Adam Loewen   22.89   "Starting Pitcher"
20    Daniel Cabrera   25.76   "Starting Pitcher"
21    Steve Trachsel   36.33   "Starting Pitcher"
22      Jaret Wright   31.17   "Starting Pitcher"
24  Scott Williamson   31.03     "Relief Pitcher"
25      John Parrish   29.26     "Relief Pitcher"
26        Danys Baez   29.47     "Relief Pitcher"

In [29]:
#column name are replaced
df.rename(columns={' "Team"': 'Team',' "Position"': 'Position',' "Height(inches)"': 'Height',' "Age"': 'Age',' "Weight(lbs)"': 'Weight'},inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 26
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      23 non-null     object
 1   Team      23 non-null     object
 2   Position  23 non-null     object
 3   Height    23 non-null     int64
 4   Weight    23 non-null     int64
 5   Age       23 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 1012.0+ bytes

In [30]:
#elements to dict form
print(df.to_dict())

{'Name': {0: 'Adam Donachie', 1: 'Paul Bako', 2: 'Ramon Hernandez', 3: 'Kevin Millar', 5: 'Brian Roberts', 6: 'Miguel Tejada', 7: 'Melvin Mora', 8: 'Aubrey Huff', 10: 'Jeff Fiorentino', 11: 'Freddie Bynum', 12: 'Nick Markakis', 13: 'Brandon Fahey', 14: 'Corey Patterson', 15: 'Jay Payton', 17: 'Erik Bedard', 18: 'Hayden Penn', 19: 'Adam Loewen', 20: 'Daniel Cabrera', 21: 'Steve Trachsel', 22: 'Jaret Wright', 24: 'Scott Williamson', 25: 'John Parrish', 26: 'Danys Baez'}, 'Team': {0: ' "BAL"', 1: ' "BAL"', 2: ' "BAL"', 3: ' "BAL"', 5: ' "BAL"', 6: ' "BAL"', 7: ' "BAL"', 8: ' "BAL"', 10: ' "BAL"', 11: ' "BAL"', 12: ' "BAL"', 13: ' "BAL"', 14: ' "BAL"', 15: ' "BAL"', 17: ' "BAL"', 18: ' "BAL"', 19: ' "BAL"', 20: ' "BAL"', 21: ' "BAL"', 22: ' "BAL"', 24: ' "BAL"', 25: ' "BAL"', 26: ' "BAL"'}, 'Position': {0: ' "Catcher"', 1: ' "Catcher"', 2: ' "Catcher"', 3: ' "First Baseman"', 5: ' "Second Baseman"', 6: ' "Shortstop"', 7: ' "Third Baseman"', 8: ' "Third Baseman"', 10: ' "Outfielder"', 11: ' "Outfielder"', 12: ' "Outfielder"', 13: ' "Outfielder"', 14: ' "Outfielder"', 15: ' "Outfielder"', 17: ' "Starting Pitcher"', 18: ' "Starting Pitcher"', 19: ' "Starting Pitcher"', 20: ' "Starting Pitcher"', 21: ' "Starting Pitcher"', 22: ' "Starting Pitcher"', 24: ' "Relief Pitcher"', 25: ' "Relief Pitcher"', 26: ' "Relief Pitcher"'}, 'Height': {0: 74, 1: 74, 2: 72, 3: 72, 5: 69, 6: 69, 7: 71, 8: 76, 10: 73, 11: 73, 12: 74, 13: 74, 14: 69, 15: 70, 17: 73, 18: 75, 19: 78, 20: 79, 21: 76, 22: 74, 24: 72, 25: 71, 26: 75}, 'Weight': {0: 180, 1: 215, 2: 210, 3: 210, 5: 176, 6: 209, 7: 200, 8: 231, 10: 188, 11: 180, 12: 185, 13: 160, 14: 180, 15: 185, 17: 189, 18: 185, 19: 219, 20: 230, 21: 205, 22: 230, 24: 180, 25: 192, 26: 225}, 'Age': {0: 22.99, 1: 34.69, 2: 30.78, 3: 35.43, 5: 29.39, 6: 30.77, 7: 35.07, 8: 30.19, 10: 23.88, 11: 26.96, 12: 23.29, 13: 26.11, 14: 27.55, 15: 34.27, 17: 27.99, 18: 22.38, 19: 22.89, 20: 25.76, 21: 36.33, 22: 31.17, 24: 31.03, 25: 29.26, 26: 29.47}}