In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor

In [5]:
df=pd.read_csv(r'C:\Users\Hritik\Desktop\petrol_random.csv')
df
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [10]:
x=df.iloc[:,:-1]
x.head()

   Petrol_tax  Average_income  Paved_Highways  Population_Driver_licence(%)
0         9.0            3571            1976                         0.525
1         9.0            4092            1250                         0.572
2         9.0            3865            1586                         0.580
3         7.5            4870            2351                         0.529
4         8.0            4399             431                         0.544

In [32]:
y=df.iloc[:,-1]
y.head()

0    541
1    524
2    561
3    414
4    410
Name: Petrol_Consumption, dtype: int64

In [38]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=1)

In [34]:
from sklearn.ensemble import RandomForestRegressor

In [35]:
reg=RandomForestRegressor(n_estimators=20,random_state=0)
reg.fit(x_train,y_train)
ypred=reg.predict(x_test)

In [36]:
ypred

array([546.2 , 603.95, 550.2 , 603.9 , 470.25])

In [37]:
print(metrics.mean_absolute_error(y_test,ypred))

24.279999999999994

In [31]:
print(metrics.mean_squared_error(y_test,ypred))

34171.22749999999